/* In your CSS file */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This will also hide any horizontal scroll bar if it appears */
    background-color: #ffe8fa;
    font-family: avenirLight;
  }

img {
  height: 32px;
  width: 32px;
  border-radius: 50%; /* This makes the image circular */
}