@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir LT W01 35 Light';
    src: url('/path/to/fonts/avenir-lt-w01_35-light.woff2') format('woff2'),
         url('/path/to/fonts/avenir-lt-w01_35-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }